node_modules/
.sass-cache/
package-lock.json
bootstrap-sass
config.rb
Gruntfile.js
gulpfile.js
yarn.lock
videos
.mp4
.rar
yarn
npm-debug.log
yarn-error.log
/dist


#editor directories Files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
